/*Globals*/

/*IDs*/
#navbar {
  background-color: gray;
  margin-bottom: 30px;
}
#saveButton {
  background-color: #808080;
}
/*Classes*/
.jumbotron {
  height: 300px;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/0e/Nytimes_hq.jpg");
  background-size: 100% 180%;
  text-shadow: black 0.4em 0.4em 0.4em;
  color: white;
  margin-bottom: 0px;
}
.btn {
  margin: 10px;
}
.btn-default {
  background-color: transparent;
  border-color: transparent;
}
.panel-default>.panel-heading {
  background-color: #d9534f;
  color: white;
}
.panel {
    margin-top: 10px;
}